body{
    background-color: rgb(0, 255, 255, 0.493);
}
h1{
    color: violet;
    font-size: 50px;
    text-align: center;
}

p{
    color: black ;
    font-size: 30px;
    text-align: justify;
}
.logo{
    width: 200px;
    height: 200px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redorda borda*/
    padding: 2px; /*define uma distancia interna entre um elemento e sua borda*/
    border: 0.2rem solid  #6e706e;
    border-radius: 20px;
}
 .fotos{
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid  #2c3546;
    border-radius: 24px;
 }